:root {
  --bs-primary: #3282F7;
  --bs-success: #68D9A4;
  --bs-danger: #ED6454;
  --bg-light: #E7E7E7;
  --bg-secondary: #C7BEBE;

  --font-logo: 'DM Sans', sans-serif;
  --font-primary: 'Lato', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}